// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

//Buttons Colors
$confirm-red: rgb(196, 43, 46);

//Brands colors
$facebook-blue: rgb(80, 102, 175);
$google-red: rgb(193, 59, 48);
$facebook-blue2: rgb(50, 80, 133);
$google-red2: rgb(217, 52, 59);

//Font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;